.container {
  display: flex;
  padding: 20px;
  flex-direction: row;
  gap: 20px;
  
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}
.header{
  text-align: center;
  height: 80px;
  padding: 20px 0;
}

.toolbox {
  flex:1;
  width: 200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid grey;
}

.tool {
  text-align: center;
  padding: 10px;
  margin: 5px;
  background-color: rgb(149, 186, 222);
  cursor: pointer;
  position: relative;
  font-weight: bold;
  color:aliceblue;
}
#yukari{
  background-color: rgb(110, 149, 190);
}
#asagi{
  background-color: rgb(179, 163, 96);
}
#sol{
  background-color: rgb(232, 94, 94);
}
#sag{
  background-color: rgb(93, 41, 130);
}


.tool:hover .delete-icon {
  display: block;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 20px;
  display: none;
  cursor: pointer;
  color:rgb(0, 0, 0);
}

.drop-area {
  display: flex;
  flex-direction: column;
  flex:1;
  border: 2px solid grey;
  width: 200px;
  padding: 10px;
  gap: 3px;
  position: relative;
}
.baslat{
  width:50px;
  height: 50px;
 
}

.screen{
  flex:1;
  border:2px solid grey;
  margin-left: auto;

 
}
